<header>
  <h1 class='error'>
    <span class="message">{{ error.name }}</span>
    <span class='theme icon' title='background color toggle'>{{{ yingYang }}}</span>
  </h1>
  <p>{{ error.message }}</p>
</header>
