<header>
  <h1 class='error'>
    <span class="message"><%= error.class %></span>
    <span class='theme icon' src='/ying-yang.svg' title='background color toggle'><%= File.read('public/ying-yang.svg') %></span>
  </h1>
  <p><%= error.message %></p>
</header>
