<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/screen.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js'></script>
  </head>
  <body class="<%= theme %>">
    <article>
      <%= yield %>
    </article>
    <script src="/nav.js"></script>
  </body>
</html>
