body {
  font-family: "Verdana";
  display: flex;
  justify-content: center;
}
body.light {
  background-color: #f8f7f5;
  color: #494949;
}
body.dark {
  background-color: #494949;
  color: #f8f7f5;
}
body.dark a {
  color: #798def;
}
article {
  max-width: 56rem;
}
p, li {
  line-height: 2rem;
}
li {
  margin-bottom: 1rem;
}
header h2 {
  font-style: italic;
}
header th {
  text-align: left;
}
.logo {
  margin: auto;
  max-width: 66%;
}
body.dark .logo svg path {
  fill: #f8f7f5
}
body.light .logo svg path {
  fill: #494949
}
.years {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.entry-content-asset {
  width: 100%;
  margin: 1.5rem 0 .5rem;
}
.entry-content .entry-content-asset {
  margin: 0;
}
.entry-form {
  margin-top: 1rem;
}
.error,
.published,
.stats,
.entry-form header {
  display: flex;
  margin-bottom: 1rem;
}
.entry-form h2,
.published time,
.error .message {
  flex-grow: 1;
}
.entry-form h2 {
  display: inline;
  margin: 0 2rem 0 0;
}
.published time {
  font-style: italic;
}
.stats .avatar {
  height: 100px;
  width: 100px;
  margin: .5rem 1rem 0 0;
}
.theme {
  cursor: pointer;
  flex-grow: 0;
  transform: rotate(-90deg);
  width: 42px;
  height: 42px;
}
.icon {
  vertical-align: middle;
}
.icon.rss {
  width: 48px;
  height: 48px;
  margin-right: .5rem;
}
.signature {
  font-style: italic;
  color: grey;
  display: flex;
  flex-direction: row;
}
.signature {
  display: flex;
  align-items: center;
  width: 100%;
}
.signature a {
  flex-basis: fit-content;
}
.nav {
  margin-bottom: 2rem;
}
.nav a + a {
  margin-left: .5rem;
}
.theme svg {
  width: 100%;
  height: 100%;
}
body.light .theme .dark {
  fill: #494949;
}
body.dark .theme .dark {
  fill: #323232;
}
.theme .light {
  fill: #f8f7f5;
}